<html layout:decorate="~{layout}">

	<div layout:fragment="content" class="container my-3">
	<!-- 질문 내용 -->
	<h2 class="border-bottom py-2" th:text="${question.subject}">제목</h2>
	<div class="card my-3">
		<div class="card-body">
			<!-- 글 내용 -->
			<div class="card-text" style="white-space: pre-line;" th:text="${question.content}">내용</div>
			<div class="d-flex justify-content-end">
				<!-- 글 수정일 -->
				<div th:if="${question.modifydate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(question.modifydate,'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<!-- 글 수정일 끝 -->
				<div class="badge bg-light text-dark p-2 text-start">
					<!-- 글쓴이 -->
					<div class="mb-2">
						<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
					</div>
					<!-- 글쓴이 끝 -->
					<!-- 글 등록일 -->
					<div th:text="${#temporals.format(question.createdate, 'yyyy-MM-dd HH:mm')}"></div>
					<!-- 글 등록일 끝 -->
				</div>
			</div>
			
			<div class="my-3">
				<!-- 추천 -->
				<a href="javascript:void(0);" 
				th:data-uri="@{|/question/vote/${question.id}|}" class="recommend btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()">추천
				<span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
				</a>
				<!-- 비추천 -->
				<a href="javascript:void(0);" 
				th:data-uri="@{|/question/disvote/${question.id}|}" class="notrecommend btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()">비추천
				<span class="badge rounded-pill bg-success" th:text="${#lists.size(question.disvoter)}"></span>
				</a>
				
				<!-- 수정 버튼 -->
				<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()" 
				th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
				th:text="수정">수정</a>
				<!-- 삭제버튼 -->
				<a href="javascript:void(0);" 
				th:data-uri="@{|/question/delete/${question.id}|}" class="delete btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()" 
				th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
				th:text="삭제">삭제</a>
			</div>
			
			
		</div>
	</div>
	
	<!-- 답변 갯수 -->
	<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|">답변 갯수</h5>
	<!-- 답변 반복 -->
	<div class="card my-3" th:each="answer : ${question.answerList}">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${answer.content}">답변글 내용</div>
			<div class="d-flex justify-content-end">
				
				<!-- 답변 수정일 -->
				<div th:if="${answer.modifydate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(answer.modifydate,'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<!-- 답변 수정일 끝 -->
				
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
					</div>
					<div class="badge bg-light text-dark p-2 text-start">
						<div th:text="${#temporals.format(answer.createdate, 'yyyy-MM-dd HH:mm')}">답변 등록일</div>
					</div>
				</div>
			</div>
			
			<div class="my-3">
				<!-- 추천 -->
				<a href="javascript:void(0);" 
				th:data-uri="@{|/answer/vote/${answer.id}|}" class="recommend btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()">추천
				<span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
				</a>
				<!-- 비추천 -->
				<a href="javascript:void(0);" 
				th:data-uri="@{|/answer/disvote/${answer.id}|}" class="notrecommend btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()">비추천
				<span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.disvoter)}"></span>
				</a>
			
				<!-- 답변 수정 버튼 -->
				<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()" 
				th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
				th:text="수정">수정</a>
				<!-- 답변 삭제 버튼 -->
				<a href="javascript:void(0);" 
				th:data-uri="@{|/answer/delete/${answer.id}|}" class="delete btn btn-sm btn-outline-secondary" 
				sec:authorize="isAuthenticated()" 
				th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
				th:text="삭제">삭제</a>
			</div>
			
		</div>
	</div>
	
	<!-- 답변 등록 -->
	<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
		<!-- 유효성 체크 에러 표시 -->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
	
		<textarea sec:authorize="isAnonymous()" disabled rows="10" cols="40" th:field="*{content}" class="form-control"></textarea>
		<textarea sec:authorize="isAuthenticated()" rows="10" cols="40" th:field="*{content}" class="form-control"></textarea>
		
		<input sec:authorize="isAnonymous()" disabled type="submit" value="답변 등록" class="btn btn-primary my-2">
		<input sec:authorize="isAuthenticated()" type="submit" value="답변 등록" class="btn btn-primary my-2">
	</form>
	</div>

	<!-- 자바스크립트 작성 -->
	<script type="text/javascript" layout:fragment="script">
	const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
		
	const recommend_elements = document.getElementsByClassName("recommend");
		Array.from(recommend_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("추천 하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
		
	const notrecommend_elements = document.getElementsByClassName("notrecommend");
	Array.from(notrecommend_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("비추천 하시겠습니까?")) {
			location.href = this.dataset.uri;
		};
	});
	});

</script>
</html>