<html layout:decorate="~{layout}">

	<div layout:fragment="content" class="container my-3">
	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>번호</th>
				<th style="width:50%">제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" th:each="question, loop : ${questionList}">
				<td th:text="${loop.count}"></td> <!-- 질문 글 번호 -->
				<td class="text-start"><!-- 제목 왼쪽 정렬 -->
					<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">제목</a>
					<span th:text="[+${#lists.size(question.answerList)}+]"></span>
				</td>
				<td>
					<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
				</td>
				<td><span th:text="${question.hit}">조회수</span></td>
				<td th:text="${#temporals.format(question.createdate, 'yyyy-MM-dd HH:mm')}">등록일</td>
			</tr>
		</tbody>
	</table>
		<a th:href="@{/question/create}" class="btn btn-primary my-2">질문 등록하기</a>
	</div>

</html>